In [16]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;
            
print(printEven(20));

90

In [15]:
def factorList(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;
         
factorList(12);

1 2 3 4 6

In [18]:
def factorList(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ")
        i=i+1;
    return;
         
factorList(12);

1 2 3 4 6

In [20]:
list1=[1,2,3,4,5];
#Entire list
print(list1);
#list[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

In [21]:
list2=["akhil","aravind","anil","akash"];
for x in list2:
    print(x,end=" ");

akhil aravind anil akash

In [22]:
# list example with particular index
list1=[1,2,3,4,5,6,7]
for x in list1:
    print(x,end=" ")
   
print();
print(list1[4]);
print(list1[3:7]);
print(list1[0:3]);
print(list1[:3]);
print(list1[:7]);

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

In [27]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end=" ");
    
    
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[3:-3]);
print(list1[4:-4]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7]
[5, 6]

In [33]:
list1=[1,2,3,4,5,6,7,8,9,10]

print(list1[::-4])

[10, 6, 2]

In [34]:
list1=[1,2,3,4,5,6,7,8,9,10]
for x in list1:
    print(x,end=" ");
    
    
print();
print(list1[1::-1]);
print(list1[2::-2]);
print(list1[3::-3]);
print(list1[4::-4]);

1 2 3 4 5 6 7 8 9 10
[2, 1]
[3, 1]
[4, 1]
[5, 1]

In [35]:
list1=["anil","akash","aravind",1];
print(list1);
list1[2]=15;#update the  list item
print(list1);
del list1[3];#delete the list item
print(list1);
list1[1]="Gitam";
print(list1);
list2=[1,2,3];
print(list2);
print(list1+list2);

['anil', 'akash', 'aravind', 1]
['anil', 'akash', 15, 1]
['anil', 'akash', 15]
['anil', 'Gitam', 15]
[1, 2, 3]
['anil', 'Gitam', 15, 1, 2, 3]

In [38]:
list1=["gitam","python","raptor",1,5,"python","python"]
print(list1)
list1.index("python")#finding the index of object
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2000)
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['gitam', 'python', 2019, 'raptor', 2000, 1, 5, 'python', 'python']

In [57]:
def linearexampele2(a,tarItem):
    for i in range(len(4)):
        if a[i]==tarItem:
            j=0;
            while j!=i:
                print("!",end=" ")
                j=j+1
print(end=" ")